.checkout {
    margin: 2rem auto;
    background-color: white;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
  
    h1 {
      display: block;
      width: 100%;
    }
  
    h1, p {
      text-align: center;
    }
  
    .checkoutHeader {
      border-bottom: 1px solid black;
    }
  
    .cart {
      max-width: 100.0rem;
      margin: 0 auto;
  
      table {
        width: 100%;
      }
    }
  
    .checkoutHeader,
    .cart {
      width: 100%;
      text-align: left;
  
      th,
      td {
        width: 22%;
      }
    }
  
    .cartItem {
      td img {
        display: block;
        width: 100%;
      }
    }
  
    .cartBtns {
      display: block;
      width: 100%;
    }
  
    .cartBtn {
      cursor: pointer;
    }
  
  }

  .no-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;

    p {
      font-size: 32px;
    }

    a {
      font-size: 24px;
      text-decoration: underline;
    }
  }
  
  // @media only screen and (max-width: 980px) {
  
  //   .checkoutHeader {
  //     display: none;
  //   }
  
  //   .cartItem {
  //     border: 1px solid black;
  //   }
  
  //   .checkout .cart td {
  //     display: block;
  //     width: 100%;
  //   }
  
  //   .checkout .cartBtn.remove {
  //     display: block;
  //     width: 100%;
  //     padding: 1.0rem;
  //     background-color: black;
  //     color: white;
  //   }
  // }

  @media only screen and (max-width: 1275px) {
    .buttons-cart {
      display: flex;
      flex-direction: column;
      width: 100%;

      td {
        width: 100%!important;
        button {
          margin: 0!important;
        }
      }
    }
  }

  @media only screen and (max-width: 695px) {
    .checkout {
      width: 90%;
    }
  }

  @media only screen and (max-width: 483px) {
    .checkout {
      .cart {
        table {
          max-width: 310px;
          font-size: 13px!important;
        }
      }
    }

    .buttons-cart {
      td {
        button {
          font-size: 15px!important;
          padding: 10px 20px!important;
        }
      }
    }

  }