.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beneficii {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    margin-bottom: 250px;
    // margin-top: 30px;

    .benef-section {
        width: 33.3333%;
        display: flex;
        padding: 20px;
        gap: 10px;
        border: 1px solid lightgray;
        align-items: center;

        .benef-text {
            h3 {
                margin: 0;
            }
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.parallax {
    margin: 20px 0;
    background-image: url("../../assets/82608.jpg");

    min-height: 500px;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;

    div {
        border: 3px solid black;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: black;
        opacity: 0.7;

        p {
            z-index: 300;
            font-size: 2rem;
            line-height: 1.2;
            color: white;
        }
    }
}

.avantaje {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container{
        width: 50%;
        img {
            width: 70%;
        }
    }

    .avantaje-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            list-style: none;
        }

        ul li:before {
            content: '✓';
            font-size: 2.5rem;
            font-weight: bold;
            color: green;
        }

        ul li {
            font-size: 2.2rem;
        }

        div {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

@media screen and (max-width: 990px) {
    .beneficii {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .beneficii {
      flex-direction: column!important;
      
    }

    .benef-section {
        width: 100%!important;
    }

    .parallax {
        div {
            width: 90%;
        }
    }

    .avantaje {
        flex-direction: column;

        .img-container {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }
  }

@media screen and (max-width: 390px) {
    .parallax {
        div {
            p {
                font-size: 16px;
            }
        }
    }
}