.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beneficii {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    margin-bottom: 250px;

    .benef-section {
        width: 33.3333%;
        display: flex;
        padding: 20px;
        gap: 10px;
        border: 1px solid lightgray;
        align-items: center;

        .benef-text {
            h3 {
                margin: 0;
            }
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.avantaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    background-color: rgba(256, 256, 256, 0.35);
    padding: 15px;
    height: 400px;

    .img-container{
        width: 50%;
        img {
            width: 70%;
            max-width: 820px;
        }
    }

    .avantaje-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            list-style: none;
        }

        ul li:before {
            content: '✓';
            font-size: 2.5rem;
            font-weight: bold;
            color: green;
        }

        ul li {
            font-size: 2.2rem;
        }

        div {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

@media screen and (max-width: 990px) {
    .beneficii {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .beneficii {
      flex-direction: column!important;
    }

    .benef-section {
        width: 100%!important;
    }

    .parallax {
        div {
            width: 90%;
        }
    }

    .avantaje {
        flex-direction: column;
        margin-top: 150px!important;
        height: auto;
        .img-container {
            width: 80%;

            img {
                width: 100%;
            }
        }
    }
  }

@media screen and (max-width: 390px) {
    .parallax {
        div {
            p {
                font-size: 16px;
            }
        }
    }
}