@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}

.header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  background-color:rgba(111, 78, 55, 0.75);
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  height: 100px;
  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: white;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    width: 100%;

    .logo {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 80%;
          height: auto;
        }
      }
    }

    &-nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 50%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(48, 58, 71, 0.86);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        gap: 10px;

        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-right: calc(0.5rem + 16px);
        }

        li {
          text-decoration: none;
          color: inherit;
          padding: 0.75rem 1.25rem;
          border-radius: 12px;
          transition: 0.3s ease all;

          &:active {
            border-radius: calc(12px + 6px);
            background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
          }

          a, .menu2 {            
            position: relative;
  
            &:before {
              content: '';
              position: absolute;
              width: 0;
              background: #FFBF00;
              height: 2px;
              bottom: 0;
              left: 0;
              border-radius: 15px;
              z-index: -1;
              transition: .2s linear;
            }
  
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
      &.isMenu {
        transform: translate(100%);
        a, .menu2 {
          color: white!important;
          font-size: 30px!important;
          font-weight: 700;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 10px;
            background: #FFBF00;
            height: 5px;
            bottom: 0;
            left: 0;
            border-radius: 15px;
            z-index: -1;
            transition: .2s linear;
          }

          &:hover::before {
            width: 100%;
          }
        }

        .menu2 {
          margin: 0;
          padding: 0;
        }
      }
    }

    &-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;

      svg {
        fill: black;
      }

      @include breakpoint(md) {
          display: none;
      }
  }
  }

}

.menu2 {
  font-size: 18px!important;
  color: black!important;
}

.important {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: center;
  gap: 25px;

  li {
    list-style-type: none;
  }

}

@media only screen and (max-width: 768px) {
  .important {
    margin-left: auto!important;
  }
}

.whatsapp {
  width: 100%;
  display: inline-block;
  background-color: #25D366;
  height: 30px;

  button {
    background-color: #25D366;
    border: none;
    color: white;
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    img {
      width: 20px;
      height: auto;
    }
  }
}

.user-icon {
  width: 30px!important;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
 
  li {
    a {
      font-size: 16px;
      cursor: pointer;
    }

    button {
      background: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      gap: 2px;
      color: red;
    }
  }
}

.cart-header {
  svg {
    position: relative;
  } 
  span {
    position: absolute;
    color: #FFBF00;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  &:hover {
    background-color: transparent;
  }
}

.MuiList-root.MuiMenu-list.MuiList-padding li a {
  width: 100%!important;
}

@media only screen and (max-width: 1068px) {
  .header__content-nav {
    ul {
      li {

        padding: 0.55rem 1rem;

        a, button {
          font-size: 15px!important;
        }
      }
    }
  }
}

@media only screen and (max-width: 664px) {
  .login-nouser {
    a {
      font-size: 16px;
    }
  }

  .cart-header {
    svg {
      height: 25px!important;
    } 
  }

  .important {
    gap: 10px!important;
  }

  .logo {
    width: auto!important;
    a {
      img {
        width: 50%!important;
        height: auto;
      }
    }
  }
}