footer {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    height: 350px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,.1), 0px -2px 4px rgba(0,0,0,.1);
    line-height: 1.5;
    background-color: #a59962;

    a, h2 {
        color: #333;

    }

    a:hover {
        text-decoration: underline;
        color: #FFBF00;
    }

    .footer-section {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 200px;
    background-color: #a59962;

    .logo-social {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
        }
    }

    .social-icons {
        width: 100%;
        display: block;
        height: 50px;
        z-index: 3000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            display: block;
            width: 100%;
            text-align: center;
        }

        .icons {
            display: flex;
            gap: 20px;

            
        }

        .facebook {
            svg:hover {
                fill: #4267B2;
            }
        }

        .instagram {
            svg:hover {
                fill: #8a3ab9;
            }
        }
    }
}

.footer-comp {
    margin-top: auto;
    width: 100%;
}

@media screen and (max-width: 750px) {
    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}